body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.app {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.card {
  width: 280px;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.top {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.status {
  background: #e6f7ec;
  color: #2ecc71;
  padding: 4px 10px;
  border-radius: 20px;
}

.price {
  font-weight: bold;
}

.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  margin: 15px 0;
}

.role {
  color: gray;
  margin: 4px 0;
}

.company {
  color: #3498db;
  font-size: 14px;
}

.skills {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 12px 0;
}

.skills span {
  border: 1px solid #ddd;
  padding: 4px 8px;
  border-radius: 20px;
  font-size: 12px;
}

.more {
  background: #3498db;
  color: white;
}

.desc {
  font-size: 13px;
  color: #555;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #f1f1f1;
  border-radius: 8px;
  cursor: pointer;
}
.Parents {
  display: flex;
  /* grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); */
  flex-wrap: wrap;
  gap: 24px;
  padding: 40px;
  background: #f4f6f8;
}