@import "tailwindcss";
#right::-webkit-scrollbar{
display: none;
}
body{
  background-color: black;
}
.counter-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  font-family: system-ui, sans-serif;
}

.title {
  font-size: 14px;
  color: #666;
  letter-spacing: 0.5px;
}

.counter-card {
  display: flex;
  align-items: center;
  gap: 18px;
  padding: 14px 22px;
  border-radius: 14px;
  /* background: linear-gradient(135deg, #f9f9f9, #ffffff); */
  border: 2px solid white;
 
}

.count {
  min-width: 48px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: white;
}

.btn {
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 12px;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn.minus {
  background: #ffecec;
  color: #d33;
}

.btn.plus {
  background: #e9f5ff;
  color: #1677ff;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.12);
}

.btn:active {
  transform: scale(0.95);
}
.page1{
    height: 100vh;
    width: 100%;
    background-color: #111;}
.page2{
    height: 100vh;
    width: 100%;
    background-color: #222;
}
.page{
     height: 100vh;
    width: 100%;
    background-color: #222;
}