*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;}
  body{
    background-color: black;
    color: white;

  }
  .card{
    height: 400px;
    width: 500px;
    border: 3px solid white;
    padding: 50px;
    display: flex;
    flex-direction: column;
   border-radius: 20px;
   justify-content: center;
   align-items: center;
   margin: 10px ;
  }
  .card img{
    height: 200px;
    width: 200px;
   border: none;
   border-radius: 50%;
  
}
.card p{
  margin: 10px 0;
}
.card button{
height: 50px;
  width: 100px;
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 10px;
}